            .video {
            width: 640px;
            height: 385px;
            margin-top: 30px
        }

        img {
            width: 240px;
            height: 180px;
        }

        p {
          margin-top: 20px;
            text-align: center;
        }

        h1 {
            font-size: 60px;
        }

        h2 {
            font-size: 30px;
        }

        body {
            background-image: url(../img/paper_texture_04.png);

          }

        a.lienb {
          color: white;
        }
.loupe {

margin-top: 7px;

}

p.david {
font-size: 14px;
font-weight: bold;

}
