<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h2>Europe</h2>
            <h1>Berlin</h1>
        </div>
    </div>
    <div class="row">

      <div class="col-xs-3">
          <img src="img/berlin.jpg" alt="">
        <a  class="lienb" ui-sref="anon.map.berlin"><button type="button" class="btn btn-primary img-responsive">Berlin</button></a>
      </div>
      <div class="col-xs-3">
          <img src="img/lisbonne.jpg" alt="">
          <a  class="lienb" ui-sref="anon.map.lisbonne"><button type="button" class="btn btn-primary img-responsive">Lisbonne</button></a>
      </div>
      <div class="col-xs-3">
          <img src="img/madrid.jpg" alt="">
        <a  class="lienb" ui-sref="anon.map.madrid"><button type="button" class="btn btn-primary img-responsive">Madrid</button></a>
      </div>
      <div class="col-xs-3">
          <img src="img/paris.jpg" alt="">
      <a  class="lienb" ui-sref="anon.map.paris"><button type="button" class="btn btn-primary img-responsive">Paris</button></a>

      </div>
    </div>

<div class="row">

<div class="col-xs-offset-3 col-xs-6">
  
        <iframe src="https://api.lookr.com/embed/timelapse/1301039285/lifetime" class="video"></iframe>

    </div>
</div>
</div>
