<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h2>Amerique</h2>
            <h1>Brasilia</h1>
        </div>
    </div>
    <div class="row">

      <div class="col-xs-3">
          <img src="img/nyc.jpg" alt="">
        <a class="lienb" ui-sref="anon.map.newyork"><button type="button" class="btn btn-primary img-responsive">New-York</button></a>
      </div>
      <div class="col-xs-3">
          <img src="img/brazilia.jpg" alt="">
          <a class="lienb" ui-sref="anon.map.brasilia"><button type="button" class="btn btn-primary img-responsive">Brasilia</button></a>
      </div>
      <div class="col-xs-3">
          <img src="img/mexico.jpg" alt="">
        <a class="lienb" ui-sref="anon.map.mexico"><button type="button" class="btn btn-primary img-responsive">Mexico</button></a>
      </div>
      <div class="col-xs-3">
          <img src="img/santiago.jpg" alt="">
      <a class="lienb" ui-sref="anon.map.santiago"><button type="button" class="btn btn-primary img-responsive">Santiago</button></a>

      </div>
    </div>

<div class="row">

<div class="col-xs-offset-3 col-xs-6">
  
        <iframe src="https://api.lookr.com/embed/timelapse/1333635975/lifetime" class="video"></iframe>

    </div>
</div>
</div>
