<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h2>Asie</h2>
            <h1>Pekin</h1>
        </div>
    </div>
    <div class="row">

      <div class="col-xs-3">
          <img src="img/tokyo.jpg" alt="">
        <a ui-sref="anon.map.tokyo"><button type="button" class="btn btn-primary img-responsive">Tokyo</button></a>
      </div>
      <div class="col-xs-3">
          <img src="img/pekin.jpg" alt="">
          <a ui-sref="anon.map.pekin"><button type="button" class="btn btn-primary img-responsive">Pekin</button></a>
      </div>
      <div class="col-xs-3">
          <img src="img/singapour.jpg" alt="">
        <a ui-sref="anon.map.singapour"><button type="button" class="btn btn-primary img-responsive">Singapour</button></a>
      </div>
      <div class="col-xs-3">
          <img src="img/bangkok.jpg" alt="">
      <a ui-sref="anon.map.bangkok"><button type="button" class="btn btn-primary img-responsive">Bangkok</button></a>

      </div>
    </div>

<div class="row">

    <div class="col-xs-offset-3 col-xs-6">

        <iframe src="https://api.lookr.com/embed/timelapse/1310898155/lifetime" class="video"></iframe>

    </div>
</div>
</div>
